.clock{
    width:400px;
    height:400px;
    background-color:rgb(12, 12, 12);
    border-radius:50%;
    border:2px solid black;
    position:relative;
    margin:auto;
    margin-top:5%;
  
  
  
}
#h1{
    text-align:center;
}
#h{
    text-align:center;
    margin-left:1%;
    margin-top:3%;
}
.point{
    position:absolute;
    width:20px;
    height:20px;
    background-color:rgb(38, 176, 218);
    left:50%;
    bottom:50%;
    transform:translate(-50%,50%);
    border-radius:50%;
}
.number{
    color:rgb(248, 242, 242);
    width: 100%;
    height: 100%;
    position:absolute;
    text-align:center;
    transform:rotate(calc(var(--r)*1deg));

}
.N1{--r:30;}
.N2{--r:60;}
.N3{--r:90;}
.N4{--r:120;}
.N5{--r:150;}
.N6{--r:180;}
.N7{--r:210;}
.N8{--r:240;}
.N9{--r:270;}
.N10{--r:300;}
.N11{--r:330;}
.N12{--r:360;}

.set{
    --r:30;
    position:absolute;
    left:50%;
    bottom:50%;
    transform:rotate(calc(var(--r)*1deg));
    transform-origin:bottom;
    border-radius:50%;
}

.H{width:8px;height:30%;background-color:rgb(236, 16, 16); --r:60; }
.M{width:5px;height:38%;background-color:grey; }
.S{width:3px;height:48%;background-color:white; --r:50; }

